$myPriText: rgba(12, 12, 12);
$mySecText: white;
$myBtn: purple;
$myFooterBg: rgba(196, 99, 255, 0.09);

@mixin Font {
  font-family: poppins;
  font-size: medium;
  color: $myPriText;
  font-weight: 200;
}

@mixin FooterMain {
  background-color: $myFooterBg;
  padding: 30px;
  margin-top: 50px;
}

@mixin FooterSubMain {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@mixin FooterCol1 {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

@mixin FooterCol2 {
  text-align: center;
}

@mixin FooterCol3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
@mixin FooterIcons {
  display: flex;
}

@mixin BootstrapIcons {
  padding: 15px;
}

@mixin Th {
  font-size: 30px;
  font-weight: 900px;
  line-height: 1rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 23px;
}
@mixin td {
  font-size: 22px;
  font-weight: bold;
  line-height: 4rem;
  text-align: left;
  padding-left: 60px;
}

@mixin textBg {
  text-align: center;
  padding: 60px;
  top: 1109px;
  border-radius: 45px;
  background-color: #cfe7f1;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin cardTitle {
  margin-left: 96px;
  margin-top: 96px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin cardTitlePara {
  margin-left: 96px;

  letter-spacing: 0em;
  text-align: left;
  font-size: 24px;
  font-style: normal;
}

@mixin submitBtn {
  border: none;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(69, 106, 255);
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.631);
  color: white;
  font-weight: 700;
}

@mixin submitBtnhover {
  border: none;

  background-color: rgba(255, 60, 232, 0.905);

  color: white;
  font-weight: 900;
}
