@use './custom' as *;

#FooterMain {
  @include FooterMain;
}

#FooterSubMain {
  @include FooterSubMain;
}

#FooterCol1 {
  @include FooterCol1;
}

#FooterCol2 {
  @include FooterCol2;
}

#FooterCol3 {
  @include FooterCol3;
}
#FooterIcons {
  @include FooterIcons;
}

.bi {
  @include BootstrapIcons;
}

th {
  @include Th;
}

td {
  @include td;
}

.pFT {
  font-size: medium;
  font-weight: 17.7px;
  color: #8f90a6;
  text-align: justify;
}

#AboutRent-Details {
  @include textBg;
}

.cardTitle {
  @include cardTitle;
}
.cardTitlePara {
  @include cardTitlePara;
}

#submitBtn {
  @include submitBtn;
}
#submitBtn :hover {
  @include submitBtnhover;
}
